.collection {
  display: flex;
  flex-flow: column;
}

.collection__item {
  margin: 0 0 5px 0;

  width: 100%;

  min-height: 45vh;
  max-height: 90vh;
}

@media only screen and (max-height: 420px) {
  .collection_nowrap_landscape {
    flex-flow: row;
    overflow-x: scroll;
  }

  .collection_nowrap_landscape .collection__item {
    margin: 0 5px 0 0;

    max-width: 90vw;
    height: 100vh;
    max-height: unset;
  }
}
