.gallery {
  position: fixed;

  font-size: 24px;

  display: flex;
  flex-flow: column;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);

  color: white;
}

.gallery__control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;

  opacity: .6;
}

.gallery__control:hover {
  opacity: .8;
}

.gallery__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;

  width: 20%;
  height: 15%;

  opacity: .6;
}

.gallery__close:hover {
  opacity: .8;
}

.gallery__control_prev {
  top: 0;
}

.gallery__prev {
  transform: rotate(90deg);
}

.gallery__control_next {
  bottom: 0;
}

.gallery__next {
  transform: rotate(90deg);
}

.gallery__image {
  object-fit: contain;

  width: 100%;
  height: 70%;
}

.gallery_noscroll {
  overflow-y: hidden;
}
